<h1>Seja bem-vindo!!!</h1>
<p>Crypto Wallet</p>

<% "helpers criado" %>
<p><%= data_br(Date.today) %></p>
<p><%= ambiente_rails %></p>
<p><%= @exemplo %></p>
<p>Valor passado via URL por meio de hash <br /> 
	no formato url/?nome=felipe para o params: <%= @meunome %></p>

<ul>
	<!--
	<li>
		<a href="/coins">Cadastro de moedas</a>
	</li>
	-->

	<li>
		<%= link_to "Cadastro de moedas", coins_path %>
	</li>

	<li>
		<%= link_to "Cadastro de tipos de mineração", mining_types_path %>
	</li>
</ul>